---
import Layout from '../layouts/Layout.astro';
import NavBar from  '../components/NavBar.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<NavBar/>
<div id="heading"> 
    <p>Syed Tajir Hasnain</p>
</div>
    <div id="sub-heading">
        <p>Software Engineer</p>
    </div>
    <article>
        <a id="avatar"><img loading="lazy" src="/img/profile.jpg" alt="Syed Tajir Hasnain"/></a>
        <p>
        Hi there! I am a software engineer at <a href="https://aixelink.com/" target="_blank">Aixelink Sàrl</a>. I have been in healthcare IT for around 4 years now. I started my professional career as a software engineer back in 2020 when I was still a 3rd year undergrad student in Chittagong University of Engineering & Technology (CUET) majoring in Computer Science & Engineering. I work as the Frontend Team Lead (JavaScript) and Medical Device Driver developer (C#) for Aixelink Sàrl. I have been deeply invested in various frontend web technologies and developing systems for ICU and Operating Rooms for the last couple of years. My expertise lies mostly in solving critical frontend problems, developing and optimizing complex web solutions and core JavaScript language and runtime. Before starting my professional career, I was a competitive programmer for around 3 years and attended a lot of online and onsite coding competitions including ICPC 2019, <a href="https://codeforces.com/profile/tajirhas9" target="_blank">Codeforces</a> and so on.</p>
        <hr style="margin-top: 50px;"/>
    </article>
    <footer>
        <p>GPG Key ID: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/19FB2F0C24B0C989C12613C5D1559C625F3B354C" target="_blank">
            D1559C625F3B354C 
        </a>&nbsp;
            <span style="font-size: 0.7em; font-style: italic;text-decoration: none;">(Fingerprint: 19FB2F0C24B0C989C12613C5D1559C625F3B354C)</span>
        </p>
    </footer>
</Layout>

<style>
    body {
        line-height: 1.6;
        margin: 0;
    }

    p {
        margin: 10px 0;
    }

    #heading {
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        color: #333;
    }
    #sub-heading {
        text-align: center;
        font-size: 1.2em;
        color: #666;
    }

    #avatar {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    #avatar img {
        object-fit: cover;
        overflow: clip;
        overflow-clip-margin: content-box;
        width: 150px;
        height: 150px;
    }
    article {
        position: relative;
        margin: 20px auto;
        max-width: 600px;
        padding: 20px;
        hyphens: auto;
        text-align: justify;
        color: var(--text-color);
        width: 90%;
    }
    footer {
        text-align: center;
        font-size: 0.8em;
        color: #999;

        a {
            color: #999;
        }
    }

    @media screen and (max-width: 80em) {
        #avater {
            position: static;
            margin: 0 auto;
            width: 120px;
            height: 120px;
        }
        article {
            padding: 15px;
            margin: 0 auto;
            width: 90%;
            max-width: 600px;
        }
    }

    @media screen and (min-width: 80em) {
        article {
            max-width: 38em;
            margin: 0 auto;
        }

        #avatar {
        position: absolute;
        right: -18em;
        }
    }
</style>
