---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/LinkedInIcon.astro';
import NavBar from  '../components/NavBar.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<div class="container">
    <div class="header"> 
        <p id="name">Syed Tajir Hasnain</p>
        <p id="title">Software Engineer</p>
    </div>
    <div class="contact-info">
        <ul>
            <li><span class="contact-info-value">(+880) 17-3209-6889</span><span class="contact-info-name">&nbsp;Mobile</span></li>
            <li><span class="contact-info-value"><a href="https://tajirhasnain.com" target="_blank">tajirhasnain.com</a></span><span class="contact-info-name">&nbsp;Website</span></li>
            <li><span class="contact-info-value"><a href="mailto:tajircuet@gmail.com">tajircuet@gmail.com</a></span><span class="contact-info-name">&nbsp;Email</span></li>
            <li><span class="contact-info-value">Chittagong, Bangladesh</span><span class="contact-info-name">&nbsp;Address</span></li>
        </ul>
    </div>
    <div class="experience">
        <p class="section-title">
        <span>Professional</span><br/>
            <span>Experience</span>
        </p>
        <ul>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Aixlienk Sarl</li>
                        <li class="company-title">Software Engineer</li>
                    </ul>
                    <p class="experience-period">
                        <span>July, 2021 ~ Present</span>
                    </p>
                </div>
                <div class="experience-details">
                    <p>Leading the Front-end team in developing highly complelx web solutions for Critical Care environment of hospitals around the world. Working remotely with a cross-country team as a software engineer in the
company’s enterprise solution. Mainly focusing on:
    <ul>
        <li>JavaScript technologies for Web (Front-end Team Lead)</li>
        <li>.NET framework for hardware driver software development</li>
    </ul>
</p>
<div>
    <p>Experience Highlights:</p>
    <ul>
        <li>
            Working as a team lead in an enterprise level software migration from Windows-based solution
    to Web-based solution.
        </li>
        <li>
            Working on a multi-threaded Node.js application
        </li>
        <li>
            Worked on a version upgrade migration of a product from Vue 2 (JavaScript) to Vue 3 (TypeScript)
        </li>
        <li>
            Worked in a multi-framework front-end environment. Introduced state management and communication system for a jQuery application lying inside a Vue.js framework
        </li>
        <li>
            Developed automation tools with Rust programming language that works as a text parser.
        </li>
    </ul>
</div>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Mindfork Tech Ltd.</li>
                        <li class="company-title">Mobile Application Developer (Remote)</li>
                    </ul>
                    <p class="experience-period">
                        <span>March, 2021 ~ June, 2021</span>
                    </p>
                </div>
                <div class="experience-details">
                    <p>Developed React Native based cross platform mobile application.</p>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">ConnectAuz Pty Ltd.</li>
                        <li class="company-title">Mobile Application Developer (Remote)</li>
                        <li class="company-title">Part-time</li>
                    </ul>
                    <p class="experience-period">
                        <span>June, 2020 ~ September, 2020</span>
                    </p>
                </div>
                <div class="experience-details">
                    <p>Worked on developing a cross-platform application with Flutter.</p>
                </div>
            </li>
        </ul>
    </div>
    <div style="break-after:page"></div>
    <div class="experience">
        <p class="section-title">Education</p>
        <ul>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Chittagong University of Engineering & Technology (CUET)</li>
                        <li class="company-title">Bachelor of Science in Computer Science & Engineering</li>
                    </ul>
                    <p class="experience-period">
                        <span>2017 ~ 2021</span><br/>
                        <span>CGPA: 3.01/4.00</span>
                    </p>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Notre Dame College</li>
                        <li class="company-title">Higher Secondary Certificate (HSC)</li>
                    </ul>
                    <p class="experience-period">
                        <span>2015 ~ 2017</span><br/>
                        <span>GPA: 5.00/5.00</span>
                    </p>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Chittagong Collegiate School</li>
                        <li class="company-title">Secondary School Certificate (SSC)</li>
                    </ul>
                    <p class="experience-period">
                        <span>2009 ~ 2015</span><br/>
                        <span>GPA: 5.00/5.00</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="experience">
        <p class="section-title">Achievements</p>
        <ul>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name"><a href="https://codeforces.com/profile/tajirhas9" target="_blank"><span style="color:#0000ff">Expert</span></a></li>
                        <li class="company-title">codeforces.com</li>
                    </ul>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info" style="width:100%;">
                        <li class="company-name">5<sup>th</sup> position, Inter University Programming Competition</li>
                        <li class="company-title">CUET CSE Fest, 2019</li>
                    </ul>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info" style="width:100%;">
                        <li class="company-name">7<sup>th</sup> position, Inter University Programming Competition</li>
                        <li class="company-title">USTC Techtronics, 2019</li>
                    </ul>
                </div>
            </li>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info" style="width:100%;">
                        <li class="company-name"><a href="https://toph.co/c/iut-ict-fest-2019/standings?start=24" target="_blank">25<sup>th</sup> position, Inter University Programming Competition</a></li>
                        <li class="company-title">IUT 10th ICT Fest Programming Contest, 2019</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="experience">
        <p class="section-title">Certification</p>
        <ul>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">Deep Learning Specialization</li>
                        <li class="company-title">Coursera</li>
                    </ul>
                    <p class="experience-period">
                    <span>Issued: March, 2021</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="experience">
        <p class="section-title">Research</p>
        <ul>
            <li class="experience-item">
                <div class="experience-header">
                    <ul class="company-info">
                        <li class="company-name">An Approach to Identify Associated People in Crowd Based on Image Association Rule Mining</li>
                        <li class="company-title">Undergraduate Thesis</li>
                    </ul>
                    <p class="experience-period">
                    <span>2020 ~ 2021</span>
                    </p>
                </div>
                <div class="experience-details">
                    <p>Introduces a system that can analyze video data in real time to provide predic-
tion of groups of people in the crowd who are supposedly together with the help Association
Rule Mining over video data.</p>
                </div>
            </li>
        </ul>
    </div>
</Layout>

<style>
    .container {
        font-family: 'BitterLocal', 'RobotoLocal';
        color: #333;
        line-height: 1.5;
        position: relative;
        max-width: 50em;
        margin: 50px auto;
        padding-bottom: 10px;
    }

    .header {
        #name {
            font-size: 2.5em;
            color: #0C6FA9;
            margin-bottom: 0px;
        }
        #title {
            font-size: 1.5em;
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 60em) {
        .container {
            padding: 0 20px;
        }
        .header {
            #name {
                font-size: 1.8em;
            }
            #title {
                font-size: 1.2em;
            }
        }
    }

    .contact-info {
        position:  absolute;
        top: 0;
        right: 0;
        text-align: right;
        ul {
        }
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0.8em;

            .contact-info-value {
                font-weight: bold;
            }
            .contact-info-name {
                margin-left: 5px;
                color: #999;
            }
            a {
                color: #0C6FA9;
                font-weight: 500;
            }
         }
    }

    .section-title {
        color: #0C6FA9;
        font-weight: normal;
        text-align: right;
        font-size: 1.5em;
        float: left;
        width: 20%;
    }

    @media screen and (max-width: 60em) {
        .section-title {
            font-size: 1.2em;
        }
    }

    .experience {
        margin-top: 20px;
        padding-right: 15px;
        clear: both;
    }
    .experience-item {
        margin-left: 20%;
        border-radius: 5px;
        width: 80%;
        list-style: none;
    }
    .experience-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline; 
    }
    .company-info {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        width: 65%;
    }
    .company-name {
        margin-top: 15px;
        font-size: 1.1em;
    }
    .company-title {
        font-size: 0.9em;
        color: #666;
    }
    .experience-period {
        font-size: 0.8em;
        color: #999;
        float: right;
        width: 35%;
        span {
            float: right;
        }
    }
    .experience-details {
        margin-top: 10px;
        font-size: 0.85em;
        color: #333;
        background-color: #eaeaea;
        border-radius: 5px;
        padding: 5px;
    }

    @media print {
      body { padding: 0; }
      .container {
          padding: 0;
          margin-top: 0;
          line-height: 1.4;
      }
      .experience {
          margin-top: 10px;
      }
      .experience-item {
          margin-bottom: 0px;
      }
      .experience-details {
          margin-top: 2px;
      }
    }

    @page {
      size: auto;
      margin: 10mm 10mm;
    }
</style>

