---
import { languages } from "../i18n/ui";
import { getLangFromUrl,getPathFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const path = getPathFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 32 32"
    onclick="toggleDropdown()"
    class="dropdown"
    ><path
        fill="#000"
        d="M24 14h-2l-6 14h3l.857-2h6.286L27 28h3Zm-2.856 9L23 18.67L24.856 23ZM12 6V4h-2v2H2v2h11.959a13.4 13.4 0 0 1-2.876 7.07A41 41 0 0 1 8.786 12H6.408a42 42 0 0 0 3.404 4.685a64 64 0 0 1-5.49 5.579l1.355 1.472a68 68 0 0 0 5.454-5.523a49 49 0 0 0 3.279 3.342l1.42-1.42a50 50 0 0 1-3.415-3.498A15.34 15.34 0 0 0 15.97 8H20V6Z"
    ></path></svg
>
<ul class="dropdown-content">
    {
        Object.entries(languages).map(([lang, label]) => (
            <li>
                <a href={translatePath(path, lang)}>{label}</a>
            </li>
        ))
    }
</ul>

<script type="text/javascript">
    function toggleDropdown() {
        const dropdown = document.querySelector(".dropdown-content");
        dropdown.classList.toggle("active");
    }
    document.addEventListener("click", function (event) {
        const dropdown = document.querySelector(".dropdown-content");
        if (
            !event.target.closest(".dropdown") &&
            !event.target.closest(".dropdown-content")
        ) {
            dropdown.classList.remove("active");
        }
    });
</script>

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        top: 6vh;
        opacity: 0;
        transform: translateY(-10px);
        transition:
            opacity 150ms ease-in-out,
            transform 150ms ease-in-out;
        pointer-events: none;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        list-style: none;
        border-radius: 4px;
        a {
            font-size: 14px;
            text-decoration: none;
            color: black;
            display: block;
            padding: 8px 0;
            font-family: "RobotoLocal";
        }
    }

    .dropdown-content.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
</style>
